body {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(253, 187, 45, 1) 100%);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.margen {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.g {
  border-radius: 20px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}